*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 800px;
    max-width:800px;   
}


#full-page {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#container {
    margin: auto;
    max-width: 800px;
}
p {
    font-weight:12;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 1.5;    
    text-align:justify;
}

h1{
    padding-top: 40px;
    color:rgb(13, 16, 44);
    font-weight: 700;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
    margin-top: 50px;
}

h3{
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
}

h5{
    color:rgb(21, 31, 117);
    padding-top:10px;
    margin-bottom: 20x;
    font-weight: 200;
}

.card img {
 
    box-shadow: 40px 10px 30px rgba(0, 0, 0, .5);
   
}


.link {
    margin-top: 20px;
    margin-bottom: 40px;

}

.link strong:hover {
    text-decoration: underline;
}
a:hover{

    background-color:rgb(194, 93, 76);
    
}